/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generici */

body {
    background-color: rgb(6, 6, 96);
    padding-top: 50px;
}

h1 {
    text-align: center;
    font-size: 42px;
}

.container,
form {
    max-width: 500px;
    padding: 10px;
    margin: 0 auto;
    background-color: rgb(237, 233, 165);
    border-radius: 20px;
}

input {
    padding: 5px 10px;
}

.form-btn {
    padding: 5px 10px;
    background-color: dodgerblue;
    color: white;
}

/* lista */

.task-list {
    list-style-type: none;
    text-align: center;
}

li {
    border: 1px solid dodgerblue;
}